:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --description-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --background-color-grey: #f5f4fa;
  --background-color-black: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --btn-hover-focus-color:#188CE8;
  --card-set-gap:30px
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-title-color);
  color: var(--description-color);
}

/* reset start */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset end */

/* header */

.header{
  border: 1px solid #ECECEC;
    border-left: none;
    border-top: none;
    border-right: none;
}

.header-container{
  display: flex;
  align-items: center;
}

.container{
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
}

.logo-header {
  color: var(--logo-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}


.nav-list{
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-list {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-color);
}

/* hero */

.hero-section {
  background-color: var(--background-color-black);

}

.hero-title {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.btn-hero {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background: var(--accent-color);
  cursor: pointer;
  border: none;
  
}
.btn{
  padding-bottom: 200px;
}

.btn-hero:hover,
.btn-hero:focus{
  background-color: var(--btn-hover-focus-color);
}

/* benefins */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-list{
  display: flex;
}
.benefits{
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.benefits-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/* works */

.works-title,
.staf-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  text-align: center;

}
.list-works{
  display: flex;
  padding-bottom: 94px;
}

.works-item{
  flex-basis: calc(100 / 3 - var(--card-set-gap));
}

.works-item:not(:last-child) {
  margin-right: 30px;
}


/* staff */

.staff-list{
  display: flex;
}

.staff-wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff {
  background-color: var(--background-color-grey);
  padding-bottom: 94px;
  padding-top: 94px;
}

.staff-card {
  flex-basis: calc(100 / 3 - var(--card-set-gap));
  background-color: var(--main-title-color);
}
.staff-card:not(:last-child) {
  margin-right: 30px;
}

.staff-name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  text-align: center;
}
.staff-profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--description-color);
  text-align: center;
}

/* footer */
.footer {
  background-color: var(--background-color-black);
}
.logo-footer {
  color: var(--main-title-color);

}
.logo-wrapper{
  padding-top: 60px;
  padding-bottom: 20px;
}

.list-wrapper{
  padding-bottom: 60px;
}
.list-footer:not(:last-child){
  padding-bottom:9px
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  font-style: normal;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  font-style: normal;
}

/* portfolio */

.btn-works-wrapper{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}


.btn-works {
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background: var(--background-color-grey);
  border: none;
  cursor: pointer;
}
.btn-works:hover,
.btn-works:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.card-set{
  display: flex;
  flex-wrap: wrap;
  margin-top:var(-1 * var(--card-set-gap)) ;
  margin-left:var(-1 * var(--card-set-gap)) ;
  margin-bottom: 94px;
  
}


.works-card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  background-color: var(--main-title-color);
  
}

.card-wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.job-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}
.work-description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
